@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  font-family: 'roboto';
::-webkit-scrollbar {
    width: 8px; /* Ancho del scroll */
  }

  /* Fondo del scroll */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }

  /* Barra del scroll */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }

  /* Al pasar el mouse por encima del scroll */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}


body{
  background-color: #eff3f8 !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
  color: #bbd819 !important;
}
.css-1aquho2-MuiTabs-indicator{
  background-color: #bbd819 !important;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
  min-width: 400px !important;
}

li{
  list-style: none;
} 
a{
  text-decoration: none;
  color: white;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table{
  margin-top: 50px;
}

